.vscode

# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
!*.tfvars.example

# Packer files
packer_cache/
output-*/
downloaded_iso_path/

charts/

services/synology-csi/client-info.yml