proxmox_endpoint = "https://192.168.1.3:8006"

proxmox_api_token = "USER@REALM!TOKENID=UUID"
proxmox_insecure  = true

template    = "ubuntu26-template"
cores       = 4
memory      = 6144
disk_gb     = 80
storage     = "local-lvm"

vms = {
    zoro_cp = {
      vm_name     = "vm-ubuntu26-zoro-01"
      target_node = "zoro"
      vm_id       = 210
      ipv4_cidr   = "192.168.1.21/23"
      description = "Control-plane k3s (etcd) en zoro, sin cargas de trabajo"
      cores       = 2
      memory      = 2048
      disk_gb     = 20
    }
    nami_cp = {
      vm_name     = "vm-ubuntu26-nami-01"
      target_node = "nami"
      vm_id       = 220
      ipv4_cidr   = "192.168.1.22/23"
      description = "Control-plane k3s (etcd) en nami, sin cargas de trabajo"
      cores       = 2
      memory      = 2048
      disk_gb     = 20
    }
    zoro_worker = {
      vm_name     = "vm-ubuntu26-zoro-02"
      target_node = "zoro"
      vm_id       = 211
      ipv4_cidr   = "192.168.1.30/23"
      description = "Worker k3s en zoro"
    }
    nami_worker = {
      vm_name     = "vm-ubuntu26-nami-02"
      target_node = "nami"
      vm_id       = 221
      ipv4_cidr   = "192.168.1.31/23"
      description = "Worker k3s en nami"
    }
    zoro_ai = {
      vm_name     = "vm-ubuntu26-zoro-ai"
      target_node = "zoro"
      vm_id       = 212
      ipv4_cidr   = "192.168.1.40/23"
      description = "Nodo k3s para IA en zoro (taint dedicated=ai, label workload-type=ai)"
      cores       = 8
      memory      = 49152
      disk_gb     = 200
    }
}

network_bridge = "vmbr0"
ipv4_gateway   = "192.168.0.1"

ciuser     = "ubuntu"
cipassword = null
ssh_keys   = ["ssh-ed25519 AAAA... user@host"]

tags        = "homelab,ubuntu26,k3s"
description = "VM Ubuntu 26 para el root module de Proxmox"
